/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto ;
}

.btn-contatos button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border-radius: 50px;
    border: 0;
    cursor: pointer; /* cursor converte para ponteiro na teg button*/
    transition: .2s;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ff08;/*⭐Serve p fazer sombra ou brilho*/
    transform: scale(1.05);
}

h2.titulo{
    color: #ffffff;
    font-size: 38px;
    text-align: center;
    font-weight: bold; /*⭐*/
}

h2.titulo span{
    color: #00ff08;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%; /* espaço do conteudo do header*/
} 


header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block; /*tag a é convertida para linha bloco*/
    transition: .2s;
}

header a:hover{
    color: #ffffff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
    
}

header nav ul li{
    display: inline;
    padding: 0 40px;
}

/* ESTILO DO MENU-MOBILE */

header .menu-mobaile{
    background-color: #00ff08;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
    font-weight: 700; /*⭐*/
}

.topo-do-site .txt-top-site h1 span{
    color: #00ff08;
}

.topo-do-site .txt-top-site p{
    color: #ffffff;
    margin: 40px 0;
}

.topo-do-site .img-top-site img{
    box-shadow: 0px 0px 30px #00ff08;
    border-radius: 15%;
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* ESTILO DAS ESPERCIALIDADES. */
section.espercialidades{
    padding: 80px 4%;
    margin-top: 150px;
}

section.espercialidades .flex{
    gap: 60px;
}

.espercialidades .especialidades-box{
    color: #ffffff;
    padding: 40px;
    margin-top: 25px;
    border: 2px solid #ffffff09;
    border-radius: 20px;
    transition: .2s;
}

.espercialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff75;
}

.espercialidades .especialidades-box i{
    font-size: 70px;
    color: #00ff08;
    
}

.espercialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */
section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre img{
    border-radius: 20px;
}

.sobre .txt-sobre{
    color: #ffffff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p{
    margin: 10px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00ff08;
    border: none;
    font-size: 30px;
    margin: 0 5px;
    transition: .2s;
}


/* ESTILO DO PORTFÓLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff73;
    border-radius: 10px;
    /* Portfolio */
    margin: -50px 50px ;
    transform:translatex(0px) translatey(0px);
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 50px;

}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #00ff08;
    border-radius: 30px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0px 0px 13px 2px rgba(255, 255, 255, 0.473)
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    box-shadow: 0 0 20px 2px #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DE FORMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;

}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
}


form textarea{
    resize: none;
    max-height: 200px;
    padding-bottom: 80px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff73;
}

footer .flex{
    justify-content: space-between;
}

footer.line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #00ff08;
}

footer .line-footer p i{
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer p a{
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 1020px){
    /* CLASSE GERAIS */

    h2.titulo{
        font-size: 30px;
        line-height: 30px;
    }
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }


    /* CEBEÇALHO */

    header .interface .logo img{
        width: 130px;
    }

    .menu-desktop, .btn-contatos{
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex{
        gap: 60px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-top-site img{
        width: 100%;
    }

    /* ESTILO ESPERCIALIDADES */

    section.espercialidades{
        padding: 80px 8%;
    }  

    section.espercialidades{
        margin-top: 0;
    }
    
        /* ESTILO SOBRE */

    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 32px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

        /* ESTILO DO PORTFÓLIO */
    section.portfolio{
        padding: 80px 8%;
        box-shadow: 0 0 40px 10px #ffffff73;
        border-radius: 10px;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }
    
#portfolio{
    margin-left: 10px;
    margin-right: 10px;
}


        /* ESTILO DO RODAPÉ */

    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
        padding: 30px 0;
    }
}